################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/AspNetCoreApp/.vs/
/AspNetCoreApp/AspNetCoreApp/obj/
/AspNetCoreApp/AspNetCoreApp/bin/
/AspNetCoreApp/AspNetCoreApp/AspNetCoreApp.csproj.user
/AspNetCoreApp/AspNetCoreApp/node_modules
/Pluralsight/Developing with .NET on Azure/.vs/vs-aspnetcoremvc-site/v15/
/Pluralsight/Developing with .NET on Azure/vs-aspnetcoremvc-site/bin/
/Pluralsight/Developing with .NET on Azure/vs-aspnetcoremvc-site/obj/
/Pluralsight/Developing with .NET on Azure/vs-aspnetcoremvc-site/Properties/PublishProfiles/ak-appservice-site - Web Deploy.pubxml.user
/Pluralsight/ASP.NET Core Fundamentals/.vs/AspNetCoreApp/v14/
/Pluralsight/ASP.NET Core Fundamentals/.vs/AspNetCoreApp/v15/
/Pluralsight/ASP.NET Core Fundamentals/AspNetCoreApp/bin/
/Pluralsight/ASP.NET Core Fundamentals/AspNetCoreApp/node_modules/
/Pluralsight/ASP.NET Core Fundamentals/AspNetCoreApp/obj/
/Pluralsight/ASP.NET Core Fundamentals/.vs/
/Pluralsight/ASP.NET Core Fundamentals/AspNetCoreApp/AspNetCoreApp.csproj.user
/Pluralsight/Developing with .NET on Azure/vs-aspnetcoremvc-site/Properties/PublishProfiles/
