################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/AspNetCoreApp/.vs/
/AspNetCoreApp/AspNetCoreApp/obj/
/AspNetCoreApp/AspNetCoreApp/bin/
/AspNetCoreApp/AspNetCoreApp/AspNetCoreApp.csproj.user
/AspNetCoreApp/AspNetCoreApp/node_modules
