@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
}


<h1>All Restaurants</h1>
    
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">Open</a>
            </td>
        </tr>
    }
        
</table>
    
<a asp-action="Create">Create</a>

@section footer { 
	@Model.MessageOfDay
}