@model IndexViewModel

@{
 ViewBag.Title = "Home Page";
}


<h1>All Restaurants</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("PartialViews/_Summary", restaurant);
   
}

<br/>
<br/>
<br/>

<div>
    <a asp-action="Create">Add Restaurant</a>
</div>
