<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
	<br />
	<div>From Layout: @DateTime.Now.Date</div>
	<footer>
		From Footer: @RenderSection("footer", false);
	</footer>
</body>
</html>
