<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <br />
    <div>
        <vc:greeter></vc:greeter>
    </div>
    <br />
    <div>From Layout: @DateTime.Now.Date</div>
    <br />
	<footer>
	    From Footer: @RenderSection("footer", false)
	</footer>
</body>
</html>
